@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.bgcolor {
  background: linear-gradient(0.25turn, #0162FF85, #0162FF0D);
}
